.resize {
    margin-top:0;
    border-top:0;
    border-right:1px solid rgba(0, 0, 0, .1);
}

.bordered-row {
    width: calc(100% + 15px);
    border-right:1px solid rgba(0, 0, 0, .1);
    border-bottom:1px solid rgba(0, 0, 0, .1);
}