.link-row {
    overflow-x:hidden;
}

.btn-success {
    background-color: white;
    color:rgb(19, 207, 19);
    border:1px solid rgb(19, 207, 19);
    height:40px;
    width:65%;
}

.btn-success:hover {
    color:white;
    background-color:rgb(19, 207, 19);
    border:1px solid rgb(19, 207, 19);
}