.form-input {
    width:100%;
    height:100%;
}

textarea {
    border: none;
    border-bottom:1px solid rgba(0, 0, 0, .1);

}

textarea:focus { outline:0; }

.row-input {
    width:98.3%;
    height:46px;
    border-top:1px solid rgba(0, 0, 0, .10);
    position: absolute; left:16px;  bottom: 0;
}