.fa-search {
    color: #0084ff;
}

button {
    width:85%;
    background-color: #FFFFFF;
    margin-top:10px;
    font-size:16px;
    border:none;
    padding-left:15px;
    height:40px;
    margin-left:18px;
}