html, body {
    font-family: SFUIText-Regular, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow:hidden;
    background-color:#fafafa;
}
.container-fluid {
    padding-left:0;
    padding-right:0;
}

.well {
    background-color:#fafafa;
    border-radius:0;
    box-shadow:none;
    border-top:none;
    padding: 0 0 0 0;
    margin-bottom:0;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 0;
}

.no-padd {
    padding-left:0;
    border-left: none
}

.no-padd-right {
    padding-right:0;
}

.modal-header {
    color:black;
    width:100%;
    height:60px;
    font-size:16px;
    margin-bottom:25px;
    font-weight:400;
    border-bottom:none;
}

.modal-body {
    height:100%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.subtext {
    font-size: 14px;
    font-weight: 200;
}

.btn-cancel {
    height:20px;
    margin-left:85px;
    margin-bottom:30px;
    font-size:16px;
    color: #0084ff;
    background-color:white;
    border:none;
}

.btn-cancel:active {
    outline:0;
    background-color:white;
    border:none;
}

.btn-cancel:focus {
    outline: 0;
    background-color:white;
    border:none;
}

.btn-cancel:hover {
    background-color:white;
}

.overflow {
    overflow-y: scroll;
    overflow-x: hidden;
}