html, body, h1, h2, h3, h4, h5, h6, p, span {
    font-family: SFUIText-Regular, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow:hidden;
}
.container-fluid {
    padding-left:0;
    padding-right:0;
}

.well {
    background-color:white;
    border-radius:0;
    box-shadow:none;
    border-top:none;
    padding: 0 0 0 0;
    height:500px;
    margin-bottom:0;
}

.overflow {
    overflow-x: scroll;
}